.info-container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
}

.info-title-sub{
    font-size: 1.3rem;
    font-weight: 200;
}

.info-title{
    font-size: 1.3rem;
    font-weight: 600;
}

.info-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.5;
}